<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team5.bjj">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/title_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team5.bjj.Home" />
        </activity>
        <activity
            android:name=".StrategizeActivity"
            android:label="@string/title_activity_strategize" />
        <activity
            android:name=".AddCustomStrategyActivity"
            android:label="@string/title_activity_add_custom_strategy"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team5.bjj.Home" />
        </activity>
        <activity
            android:name=".AddCustomPositionActivityStrategize"
            android:label="Add Position"
            android:parentActivityName=".StrategizeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team5.bjj.StrategizeActivity" />
        </activity>
        <activity
            android:name=".AddCustomMoveActivityStrategize"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:label="Add Move"
            android:parentActivityName=".StrategizeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team5.bjj.StrategizeActivity" />
        </activity>
        <activity
            android:name=".AddCustomPositionActivity"
            android:label="Add Custom Position">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team5.bjj.AddCustomPositionActivity" />
        </activity>
        <activity
            android:name=".EvalMovesWereAttempted"
            android:label="@string/title_eval">
        </activity>
        <activity
            android:name=".EvalMovesAttempted"
            android:label="@string/title_eval"
            android:parentActivityName=".EvalMovesWereAttempted">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team5.bjj.EvalMovesWereAttempted" />
        </activity>
        <activity
            android:name=".EvalMovesSuccessful"
            android:label="@string/title_eval"
            android:parentActivityName=".EvalMovesAttempted">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team5.bjj.EvalMovesAttempted" />
        </activity>
        <activity
            android:name=".EvalMovesHardest"
            android:label="@string/title_eval"
            android:parentActivityName=".EvalMovesSuccessful">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team5.bjj.EvalMovesSuccessful" />
        </activity>
        <activity
            android:name=".SearchDescriptionActivity"
            android:label="Description">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team5.bjj.SearchDescriptionActivity" />
        </activity>
        <activity
            android:name=".AddCustomMoveActivity"
            android:label="Add Custom Move">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team5.bjj.AddCustomMoveActivity" />
        </activity>
    </application>

</manifest>
